@import '../colors.scss';

$title_height: 45px;
.board {

  &__title {
    width: 100%;
    height: $title_height;
    padding: 0.5rem;
    background-color: $black20;
    color: $accent2;
    font-size: 14pt;
    box-sizing: border-box;
  }

  &_action {
    margin: 0 0.2rem;
    cursor: pointer;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;

    :hover {
      background-color: $black20;
    }
  }

  &__body {
    width: 100%;
    height: calc(100% - 45px - 1rem);
    margin-top: 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 0 0.3rem;
    overflow-y: auto;
  }

  &__card {
    border-radius: 0.3rem;
    padding: 0.3rem;
    background-color: $accent2;
    color: $text1;
    margin: 0.2rem 0;
    white-space: normal;
    box-sizing: border-box;
    cursor: pointer;

    &_ghost {
      background-color: $black20;
    }

    &_grabbed {
      position: fixed;
      transform: rotate(5deg);
      box-shadow: 2px 2px 5px;
    }
  }
}

.column {
  display: inline-block;
  width: 300px;
  background-color: $base1;
  margin: 0 0.2rem;
  max-height: calc(100% - 0.5rem);
  box-sizing: border-box;
  border-radius: 0.3rem;
  color: $accent2;
  overflow: hidden;
  vertical-align: top;
  padding: 0.5rem;

  &__list {
    overflow-y: auto;
  }

  &__title {
    position: relative;
    font-weight: bold;
    padding: 8px 0;
  }

  &__delete {
    position: absolute;
    right: 0px;
    fill: white;
    transition: fill 0.5s ease;
    cursor: pointer;

    :hover{
      fill: lightgray;
    }
  }

  &__new-task {
    width: 100%;
    padding: 0.4rem;
    color: $accent2;
    cursor: pointer;
    font-weight: bold;

    :hover {
      text-decoration: underline;
      background-color: $black20;
    }
  }
  
  &_new {
    position: relative;
    height: calc(1.1872em + 16px);
    color: white;
    background-color: $black10;
    transition: background-color 0.5s ease, height 0.5s ease;

    &:hover {
      background-color: $black20;
    }

    &.editing {
      background-color: $base1;
      height: calc(2.375em + 2 * (16px + 3px) + 16px + 0.4rem);
    }
  }

  &__new-label {
    user-select: none;
  }

  &__new-entry {
    display: block;
    width: 100%;
    border: 3px solid $base2;
    border-radius: 4px;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Helvetica", Arial, sans-serif;
  }

  &__close {
    height: 1.2em;
    margin-left: 7px;
    vertical-align: text-top;
    fill: $accent2;
  }

  &:last-child {
    margin-right: 0.5rem;
  }
}

.priority-marks {
  display: flex;
}

.priority-mark {
  display: block;
  width: 30px;
  height: 8px;
  border-radius: 4px;
  margin:0.2rem;
  color: $text2;
}

.priority-desc {
  min-width: 15px;
  display: inline-block;
  padding: 0.3rem;
  border-radius: 4px;
  margin:0.2rem;
  color: $text2;
  text-align: center;
}

.priority0 {
  background-color: lightgray;
  color: gray;
  font-weight: bold;
}

.priority1 {
  background-color: red;
}

.priority2 {
  background-color: fuchsia;
}

.priority3 {
  background-color: dodgerblue
}

.new-task-modal{
  margin: auto;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: $accent2;
}
