/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import './colors.scss'; 
@import './components/board.scss';
@import './components/list.scss';
@import './components/task_modal.scss';
@import './components/left_panel.scss';
@import './components/nav_bar.scss';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-overlay {
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: $black50;
  overflow:auto;
}

.modal {
  position: relative;
  margin: auto;
  outline: none;
}

a {
  text-decoration: none;
}

.button-set {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

button, input[type='submit'], input[type='button']{
  background-color: $accent1;
  padding: 0.1rem 1rem;
  color: $accent2;
  border: 1px solid $border;
  border-radius: 0.4rem;
  font-size: 12pt;
  margin: 0.2rem;


  &:hover {
    background-color: $accent4;
  }

  &:active {
    background-color: $accent3;
  }

  &:focus {
    border-color: $accent4;
  }
}
.btn_full-length {
  width: 100%;
}

.space-top {
  margin-top: 2rem;
}
