$base1: #00b6dbff;
$base2: #8cddefff;
$accent1: #00afcaff;
$accent2: white;
$accent3: rgb(1, 149, 172);
$accent4: rgb(35, 210, 236);
$accent5: darkgray;
$border: lightgray;
$black20: #00000033;
$black10: #00000019;
$text1: black;
$text2: white;
