$base1: #00b6db;
$base2: #8cddef;
$accent1: #00afca;
$accent2: white;
$accent3: #0195ac;
$accent4: #23d2ec;
$accent5: darkgray;
$border: lightgray;
$black50: rgba(0, 0, 0, 0.5);
$black20: rgba(0, 0, 0, 0.2);
$black10: rgba(0, 0, 0, 0.1);
$text1: black;
$text2: white;

.hidden {
  display: none !important;
}
